@font-face {
    font-family: 'PINGAR+LT-BLACK';
    src: url("path/PINGAR+LT-BLACK.otf") format("opentype");
}

@font-face {
    font-family: 'PINGAR+LT-BLACK';
    font-weight: bold;
    src: url("path/PINGAR+LT-BLACK.otf") format("opentype");
}
