@font-face {
    font-family: 'PINGAR+LT-BLACK';
    src: url("https://github.com/abdelmaliksniper/fonts/blob/main/font/PINGAR%2BLT-BLACK.OTF") format("opentype");
}

@font-face {
    font-family: 'PINGAR+LT-BLACK';
    font-weight: bold;
    src: url("https://github.com/abdelmaliksniper/fonts/blob/main/font/PINGAR%2BLT-BLACK.OTF") format("opentype");
}
