@font-face {
    font-family: 'PINGAR';
    src: url("https://github.com/abdelmaliksniper/fonts/blob/main/font/PINGARBLT-BLACK.OTF") format("opentype");
}

@font-face {
    font-family: 'PINGAR';
    font-weight: bold;
    src: url("https://github.com/abdelmaliksniper/fonts/blob/main/font/PINGARBLT-BLACK.OTF") format("opentype");
}
